.idea
/wp-admin/
/wp-includes/
/.htaccess
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config.php
/wp-config-sample.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-content/themes/wp-rock/node_modules/
/wp-content/themes/wp-rock/vendor/
.DS_Store

*/**/.DS_Store
/wp-content/uploads/wpcf7_uploads/.htaccess
.sass-cache/**/*
/wp-content/uploads/
/wp-content/webp-express/
/wp-content/wp-rocket-config/
/wp-content/mc_data/
/wp-content/cache/
/wp-content/ai1wm-backups/
/wp-content/deployment-folder/