@import "../bootstrap/variables";
@import "../bootstrap/mixins";
@import "../parts/variables";
@import "../parts/mixin";
@import "../parts/post-card";

.latest-news{
    margin-bottom: 60px;
    margin-top: 60px;
    @include media-breakpoint-up(lg){
        margin-bottom: 80px;
        margin-top: 80px;
    }
    .not-found{
        text-align: center;
    }
    &__text{
        p{
            margin-bottom: 0;
            &:not(:last-child){
                margin-bottom: 10px;
            }
        }
    }
    &__wrapper{
        display: grid;
        gap: 6px;
        @include media-breakpoint-up(md){
            gap: 8px;
            grid-template-columns: repeat(2, 1fr);
        }
        @include media-breakpoint-up(lg){
            gap: 8px;
            grid-template-columns: repeat(3, 1fr);
        } 
    }
}
