.styled-checkbox{
    &__label{
        margin-bottom: 0;
    }
    &__checkbox{
        display: none;
        position: absolute;
        width: 0;
        height: 0;
        visibility: hidden;
        &:checked ~ .styled-checkbox__span{
            &::after{
                visibility: visible;
                opacity: 1;
            }
        }
    }
    &__span{
        padding-inline-start: 28px;
        position: relative;
        display: block;
        @include media-breakpoint-up(lg){
            line-height: 19px;
        }
        &::before{
            content: '';
            display: block;
            position: absolute;
            right: 0;
            top: 2px;
            width: 13px;
            height: 13px;
            border: 1px solid $black;
            @include media-breakpoint-up(lg){
                width: 10px;
                height: 10px;
            }
        }
        &::after{
            content: '';
            display: block;
            position: absolute;
            right: 2px;
            top: 4px;
            width: 11px;
            height: 11px;
            background-color: $black;
            visibility: hidden;
            opacity: 0;
            transition: .3s linear;
            transition-property:visibility, opacity;
            @include media-breakpoint-up(lg){
                width: 8px;
                height: 8px;
            }
        }
    }
}
