.main-menu {
    position: absolute;
    width: 100vw;
    height: 100vh;
    height: var(--app-height);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: .3s linear;
    transition-property: visibility, opacity;
    overflow-x: hidden;

    &__container {
        width: 100%;
    }

    &.show {
        visibility: visible;
        opacity: 1;
    }

    &__wrapper {
        margin: 0 auto;
        padding: 56px 0;
        position: relative;
        max-width: 1100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100%;

        @include media-breakpoint-up(md) {
            padding: 88px 0;
        }

        @include media-breakpoint-up(md) {
            max-width: 640px;
        }
        @include media-breakpoint-up(lg) {
            max-width: 920px;
        }
        @include media-breakpoint-up(xl) {
            max-width: 1100px;
        }
    }

    &__list {
        @extend .list-reset;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin: 0 calc(-1 * ($spacer * 4));

        @include media-breakpoint-up(md) {
            margin: 0 calc(-1 * ($spacer * 2));
            flex-direction: row;
        }
        @include media-breakpoint-up(lg) {
            margin: 0 calc(-1 * ($spacer * 3));
        }
        @include media-breakpoint-up(xl) {
            margin: 0 calc(-1 * ($spacer * 4));
        }

        &:before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            transition: background-color .5s;
            background: $color-brand-dark;
            @include media-breakpoint-up(md) {
                background: $white;
            }
        }

        > .menu-item {
            position: relative;
            padding: 0 calc($spacer * 4);
            width: 100%;
            text-align: center;

            @include media-breakpoint-up(md) {
                width: auto;
                text-align: unset;
                padding: 0 calc($spacer * 2);
            }
            @include media-breakpoint-up(lg) {
                padding: 0 calc($spacer * 3);
            }
            @include media-breakpoint-up(xl) {
                padding: 0 calc($spacer * 4);
            }

            .nav__link, a, span {
                transition: .3s linear;
                transition-property: opacity, color;
                transition: opacity .3s, color .3s;
                display: inline-block;
                vertical-align: middle;
                color: $white;
                @include media-breakpoint-up(md) {
                    color: $black;
                }
            }

            &-has-children {
                > a {
                    text-indent: calc($spacer * 7);
                    @include media-breakpoint-up(md) {
                        text-indent: unset;
                    }
                }

                .sub-menu-toggle {
                    position: relative;
                    width: calc($spacer * 7);
                    height: calc($spacer * 7);
                    transition: transform .3s;
                    transform: translateY(calc($spacer / 2 * -1));
                    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxNiAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAuOTk5OTU2IDAuOTk5OTc3TDcuOTk5OTggOEwxNSAwLjk5OTk3OCIgc3Ryb2tlPSJ3aGl0ZSIgc3Ryb2tlLXdpZHRoPSIyIi8+Cjwvc3ZnPgo=");
                    background-position: center;
                    background-repeat: no-repeat;
                    cursor: pointer;
                    @include media-breakpoint-up(md) {
                        display: none;
                    }
                }

                &.active {
                    .sub-menu-toggle {
                        transform: translateY(calc($spacer / 2 * -1)) scaleY(-1);
                    }
                }
            }

            > .nav__link {
                font-family: $font-secondary;
                font-weight: normal;
                text-transform: uppercase;
                font-size: 62px;
                line-height: 1.45;
                margin: calc($spacer * 2) 0;

                @include media-breakpoint-up(md) {
                    font-size: 80px;
                    margin: 0;
                }
                @include media-breakpoint-up(lg) {
                    font-size: 120px;
                    line-height: 1.3;
                }
                @include media-breakpoint-up(xl) {
                    font-size: 147px;
                }
            }

            .menu-item-bg {
                position: fixed;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-size: cover;
                background-repeat: repeat;
                background-position: center;
                z-index: -1;
                transition: opacity .5s;
                pointer-events: none;
                @include media-breakpoint-up(md) {
                    opacity: 0;
                }
            }

            .sub-menu {
                @extend .list-reset;
                overflow: hidden;
                max-height: 0;
                transition: max-height .35s;

                @include media-breakpoint-up(md) {
                    max-height: unset;
                    transition: .5s linear;
                    transition-property:opacity, visibility;
                    gap: calc($spacer * 3);
                    display: flex;
                    justify-content: center;
                    bottom: 0;
                    position: absolute;
                    left: 0;
                    right: 0;
                    width: 100%;
                    //visibility: hidden;
                    //opacity: 0;
                }

                a, span {
                    font-weight: 600;
                    line-height: 1.4;
                    font-size: 20px;
                    margin-bottom: calc($spacer * 3);

                    @include media-breakpoint-up(md) {
                        font-size: 14px;
                        margin: 0;
                    }
                    @include media-breakpoint-up(lg) {
                        font-size: 16px;
                    }
                    @include media-breakpoint-up(xl) {
                        font-size: 18px;
                    }
                }
            }

            &:hover {
                .menu-item-bg {
                    opacity: 1;
                }

                .sub-menu-toggle {
                    &:before {
                        opacity: 1;
                    }

                    &:after {
                        opacity: 0;
                    }
                }

                .sub-menu {
                    //display: block;

                    @include media-breakpoint-up(md) {
                        display: flex;
                        visibility: visible;
                        opacity: 1;
                        transition: opacity .5s 0s, visibility 0s 0s;
                    }
                }
            }
        }

        @include media-breakpoint-up(md) {
            &:hover {
                &:before {
                    background-color: $color-brand-dark;
                }

                > .menu-item {

                    .nav__link, a, span {
                        color: $white;
                        opacity: .17;

                        &:hover {
                            opacity: 1;
                        }
                    }

                    &:hover {
                        > .nav__link, > a, > span {
                            opacity: 1;
                        }
                    }
                }
            }
        }

    }

    .menu-item.social-media-links {
        display: inline-flex;
        align-items: center;
        gap: calc($spacer * 2);
        margin-top: calc($spacer * 3);
        justify-content: center;

        &:hover {
            .social-media-links__link {
                opacity: .17;

                svg path {
                    fill: $white;
                }

                &:hover {
                    opacity: 1;
                }
            }
        }

        @include media-breakpoint-up(md) {
            margin-top: 0;
            gap: calc($spacer * 2);
        }
        @include media-breakpoint-up(lg) {
            margin-top: calc($spacer * 3);
            gap: calc($spacer * 5);
        }
        @include media-breakpoint-up(xl) {
            margin-top: calc($spacer * 5);
            gap: calc($spacer * 6);
        }

        &__link {
            svg {
                display: block;
            }
        }

    }

}
