body {
    font-family: $font-primary;
    font-weight: normal;
    font-style: normal;
    color: $color-main;
    @include custom-scrollbar;
    font-size: 15px;
    line-height: 130%;

    @include media-breakpoint-up(md) {
        font-size: 16px;
        line-height: 117.5%;
    }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
    font-family: $font-secondary;
    font-weight: normal;
    margin: 0;
}

@include make-responsive-headers();

[class^="icon-"]:before, [class*=" icon-"]:before {
    margin: 0;
}

strong, b {
    font-weight: 600;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
    color: inherit;
}

.text-white {
    color: $white;
}

.subtitle {
    color: $color-lighter;
    font-size: 16px;
    @include media-breakpoint-up(lg){
        font-size: 25px;
        line-height: 120%;
    }
}

.text-smaller {
    font-size: 14px;
    line-height: 20px;
}

small, .small {
    font-size: 0.875em;
}

.font-primary {
    font-family: $font-primary;
}

.font-secondary {
    font-family: $font-secondary;
}
