// Font-family
$font-primary: RagSans;
$font-secondary: RAG-Marom-Poster;

// Colors
$white: #FFFFFF;
$black: #000000;
$color-main: $black;
$color-lighter: #6F6F6F;
$color-gray: #D3D3D3;
$color-light-pink: #FFDEDE;
$color-dark-gray: #888888;
$color-brightest: #B8B8B8;
$color-red: #FF0E0E;
$color-brand: #FF1521;
$color-brand-lighter: #FFE6E6;
$color-light-red-2: #FFB5B9;
$color-brand-dark: #6D052A;
$color-burgundy: #800029;
$color-dark: #3F0417;

// h1 styles
$h1-font-size: 160px;
$h1-line-height: 160px;

// h2 styles
$h2-font-size: 100px;
$h2-line-height: 100px;

// h3 styles
$h3-font-size: 50px;
$h3-line-height: 50px;

// h4 styles
$h4-font-size: 40px;
$h4-line-height: 40px;

// h5 styles
$h5-font-size: 36px;
$h5-line-height: 36px;

// h6 styles
$h6-font-size: 32px;
$h6-line-height: 32px;

$fluid_max_width: 1440px;
