@import "../bootstrap/variables";
@import "../bootstrap/mixins";
@import "../parts/variables";
@import "../parts/mixin";

.section-loyalty-benefits {
    background-color: $color-burgundy;
    text-align: center;

    &__container {
        @include media-breakpoint-up(xxl) {
            max-width: 1376px;
        }
    }

    &__title {
        color: $color-brand-dark;
        line-height: 92.5%;
        font-size: 124px;
        @include media-breakpoint-up(sm) {
            font-size: 150px;
        }
        @include media-breakpoint-up(md) {
            font-size: 170px;
        }
        @include media-breakpoint-up(lg) {
            font-size: 170px;
        }
        @include media-breakpoint-up(xl) {
            font-size: 210px;
        }
        @include media-breakpoint-up(xxl) {
            font-size: 250px;
        }
    }

    &__wrapper {
        flex-wrap: wrap;
        max-width: 1240px;
        margin-left: -5px;
        margin-right: -5px;
        @include media-breakpoint-up(lg) {
            flex-wrap: nowrap;
        }
        @include media-breakpoint-up(xl) {
            max-width: 1250px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__benefit {
        color: $white;
        text-align: start;
        padding: 0 5px;
        max-width: 33.3%;
        margin-bottom: 28px;
        @include media-breakpoint-up(lg) {
            max-width: 100%;
        }

        &-image {
            height: auto;
            object-fit: cover;
            display: block;
        }

        &-inner {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-inline: auto;
        }

        &:nth-child(odd) {
            transform: translateY(-($spacer));
            @include media-breakpoint-up(lg) {
                transform: translateY(-($spacer * 3));
            }
        }

        &:nth-child(even) {
            transform: translateY(-($spacer * 4));
            @include media-breakpoint-up(lg) {
                transform: translateY(-($spacer * 10));
            }
        }

        &-counter, &-name {
            position: absolute;
        }

        &-counter {
            font-family: $font-secondary;
            font-size: 36px;
            line-height: 92.5%;
            top: 10px;
            right: 13px;
            letter-spacing: 0.72px;
            @include media-breakpoint-up(md) {
                font-size: 60px;
                letter-spacing: 1.2px;
                top: 20px;
                right: 20px;
            }
        }

        &-name {
            font-size: 22px;
            line-height: 88%;
            font-weight: 600;
            bottom: 10px;
            right: 0;
            margin: 0;
            padding: 0 10px;
            max-width: 110px;
            @include media-breakpoint-up(lg){
                max-width: 205px;
            }
            @include media-breakpoint-up(xl) {
                font-size: 25px;
                line-height: 105%;
                bottom: 24px;
                padding: 0 20px;
            }
        }
    }

    &__info {
        max-width: 1240px;
        margin-left: auto;
        margin-right: auto;
        &-wrapper {
            overflow: hidden;
            transition: max-height .4s;
            max-height: 0;

            &.active {
                transition: max-height 1s;
                max-height: 2000px;
            }
        }
    }

    &__item {
        background-color: $color-brand-dark;
        color: $white;
        text-align: start;

        @include media-breakpoint-up(lg) {
            display: flex;
            align-items: center;
        }

        &-counter {
            font-family: $font-secondary;
            line-height: 92.5%;
            font-size: 30px;
            font-style: normal;
            font-weight: 900;
            letter-spacing: 0.6px;
            text-transform: uppercase;
            @include media-breakpoint-up(md) {
                font-size: 40px;
                line-height: 92.5%;
                letter-spacing: 0.8px;
            }
        }

        &-name {
            font-size: 22px;
            font-weight: 600;
            line-height: 88%;
            @include media-breakpoint-up(md) {
                font-size: 25px;
                line-height: 105%;
            }
            @include media-breakpoint-up(lg) {
                width: 200px;
                max-width: 100%;
            }
        }

        &-benefit {
            @include media-breakpoint-up(lg) {
                width: 300px;
                max-width: 100%;
            }
        }
    }

    &__info-btn{
        .active-text{
            display: none;
            pointer-events: none;
        }
        .not-active-text{
            display: block;
            pointer-events: none;
        }
        &.active{
            .active-text{
                display: block;
            }
            .not-active-text{
                display: none;
            }
        }
    }
}
